@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;400;500&display=swap'); 

body {
    background: -webkit-linear-gradient(top, #FFF8EE, #ffffff);
}

.top_menu li {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
color: #322F2E;
   
}
.top_menu a:link{
    text-decoration: none;
    color: #322F2E;
}

.overhead{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 25px;
text-align: center;
}

.heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 119px;
    color: #322F2E;
    text-align: center;
}

.underhead h5{
 font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 33px;
text-align: center;
color: #322F2E;
}

.underhead p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#000000;
}

.last_button p{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #C47344;
}

.blocks h5{
    
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 52px;
text-align: center;
color: #322F2E;
}

.blocks p{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
text-align: center;
color: #322F2E;
}
.blocks button{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #000000;
}

.quiz h5{
 font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 32px;
/* color: #FFFFFF; */
}

.quiz p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* color: #FFFFFF; */
}
.quiz a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* color: #FFFFFF;  */
}

.new_message{
 font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 25px;
text-align: center;
/* color: #FFFFFF; */
}
.quiz_right p {
 font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 33px;
color: #322F2E;
}

.quiz_right button{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.promo2 h2{ font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 54px;
color: #1A1918;
}

.promo2 p{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 32px;
color: #322F2E;
}

.promo2 input{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.45);
}

/* .promo2 button{
    font-family: "Roboto400",sans-serif;
    font-size: 20px; 
} */

.bottom_menu h2{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
color: #333333;
}

.bottom_menu a{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 20px;
color: #313131;
}

.bottom_inf h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #313131;
}

.bottom_inf p{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
color: #313131;
}

.hided {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 20px;
color: #D3D3D3;
}








/* 
.overhead p{
    text-align: center;
    font-size: 13px;

}

.underhead p{
    height: 99;
    width: 524;
    text-align: center;
    font-size: 21px;
}

.underhead img{
    width: 1140px;
    height: 152px;
    display: inline;
}

main h1{
    font-family:"Roboto700", sans-serif;
    text-align: center;
    font-size: 110px;

}
main p{
    font-family:"Roboto500", sans-serif;
}



.top_menu li {
    font-family: "Roboto500";
    padding-right: 30px;
    width: 616;
    height: 60;
    margin-right: 20px;
    display: inline;
    font-size: 15px;
}

.top_menu a:link {
    text-decoration: none;
    color: #322F2E;
}


header {
    width: 1300;
    height: 900;
    margin:0 auto;
} */




